/* CSS Reset*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    height:auto;
    display:block;
}

/*............*/


body{
    background-image: url(images/bg800bulbs.jpg);
    background-color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-weight:200;
    font-style:normal;
    font-size: small;
      }


.credit{
        font-weight: bold;
      }
      
      

.container {
        margin: 0 auto;
        max-width: 50vw;
        background-color: #FFFFFF;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:self-end;
    padding: 30px 10%;
    

}

a{
    text-decoration: none;
}


.nav_links{
    list-style: none;
    
}

img {
    height: auto;
    max-width: 100%;
    display: block;
}


.nav_links li{
    display:inline-block;
    padding:0px 20px;
    color: black;
}

a{
    color:black;
}

.section{

    background-color:white;
    max-width: 50vw;
    margin: 0%;
    padding:20px;
   
}

.wrapper{

    background-color: white;
    max-width:50vw;
    margin: 0%;
    padding:20px;
}

.wrapper:after{
    
    display:block;
    clear:both;
}


.wrapper img{
    float:right;
    margin: 10px;
    padding-left: 10px;
    
}

.btn{

    display:flex; 
    align-items: center;
    justify-content: center;
    position: relative;
    margin:2em;
    padding: 1em;
    background: lightgrey;
    color:black;
    border-radius: 20px;
    
   
    
   
 }

 .blockquote {
    background: #e9efec;
    border-left: 10px solid #b9efcc;
    margin: 1.5em 10px;
    padding: 1em 10px;
    
  }
  

  .blockquote img{
    float:left;
    padding-right: 2em;
  }
  .blockquote p{
          margin:0%;
          
  }

  .clear{
    clear:both;

  }

  footer{
    background-color: rgb(242, 98, 45);
    padding: 20px;
    color:white;
  }


h2{
    margin-top: 4em;
}


  